@font-face {
  font-family: "graffit";
  src: url("fontes/textim.otf") format("opentype");
}
@font-face {
  font-family: "Heroes";
  src: url("fontes/heros.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik Mono One", sans-serif;
  background: #000;
  color: #fff;
}
.layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}
.side-bg {
  background-image: url("imagens/lateral.png");
  background-size: cover;
  background-position: center;
  width: 5vw;
  display: block;
}
.main-content {
  flex: 1;
  background-color: #000;
  z-index: 1;
  position: relative;
}
header a h1 {
  text-shadow: -3px -4px 0 rgb(231, 226, 226), 3px -3px 0 rgb(247, 247, 247),
    -3px 3px 0 rgb(255, 253, 253), 3px 3px 0 rgb(247, 244, 244);
  text-align: center;
  color: #000000;
  font-size: 5rem;
  letter-spacing: 2px;
  font-family: "graffit", sans-serif;
  width: max-content;
}
header a {
  text-decoration: none;
  width: max-content;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("imagens/tijolo2.png");
  padding: 10px 0px;
}
nav {
  z-index: 2;
  position: fixed;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 15px;
  background: #111;
}
nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
nav a:hover {
  color: #ff0080;
}
section.hero {
  background-image: url("imagens/bannergay.png");
  background-size: cover;
  background-position: bottom;
  margin-top: 100px;
  height: 600px;
  display: flex;
  padding-bottom: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section.hero h2 {
  font-size: 3rem;
  letter-spacing: 4px;
  text-shadow: -3px -4px 0 rgb(0, 0, 0), 3px -3px 0 rgb(0, 0, 0),
    -3px 3px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0);
  bottom: 14.5%;
  right: 0%;
  position: absolute;
  background: rgba(0, 0, 0, 0.185);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Heroes", sans-serif;
  border-radius: 20px;
}
footer {
  background: #111;
  text-align: center;
  padding: 30px 10px;
  color: #aaa;
  font-size: 0.9rem;
}
#ambiente section {
  width: 400px;
}
#ambiente section p {
  width: 100%;
}
#ambiente section h2 {
  width: 100%;
}
#ambiente {
  border-radius: 20px;
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 60px 20px;
  text-align: center;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  line-height: 1.6;
}
section h2 {
  font-family: "Secular One", sans-serif;
}
.secular-one-regular {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
div.main-content {
  background-image: url("imagens/groovyfundo\ .jpg");
  background-size: cover;
}
.imagem img:hover {
  transform: scale(1.5);
  z-index: 10 !important;
  margin: 30px;
}
.imagem img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.imagem {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 600px;
  width: 100%;
}
.polaroid {
  margin-bottom: 100px;
  background-color: whitesmoke;
  padding: 10px 10px 80px 10px;
}
#imagem1 {
  position: absolute;
  left: 57%;
  border: 1px solid black;
  z-index: 2;
}
#imagem2 {
  position: absolute;
  left: 50%;
  border: 1px solid black;
  z-index: 3;
}
#imagem3 {
  position: absolute;
  left: 40%;
  border: 1px solid black;
  z-index: 4;
}
#imagem4 {
  position: absolute;
  left: 30%;
  border: 1px solid black;
  z-index: 5;
}
.icone {
  transform: none !important;
  height: 60px !important;
  width: 60px !important;
  z-index: 11 !important;
  position: fixed;
  background-color: #fff;
  border-radius: 100% !important;
}
.zoom {
  position: fixed !important;
  top: 20%;
  z-index: 111 !important;
  height: 700px !important;
  width: 550px !important;
}
#icone1 {
  left: 1%;
  top: 50%;
}
#icone2 {
  right: 1%;
  top: 50%;
}
#X {
  top: 14%;
  z-index: 10 !important;
  right: 5.2%;
  background-color: rgba(255, 255, 255, 0.678);
  padding: 0;
}
#setas {
  display: none;
}
/* ===================== CELULARES PEQUENOS ===================== */
@media (max-width: 480px) {
}
@media (max-width: 600px) {
}
/* ===================== CELULARES MÉDIOS ===================== */
@media (max-width: 768px) {
  .imagem img {
    transform: none;
    transition: none;
  }
  .zoom {
    left: 15% !important;
  }
  .imagem img:hover {
    transform: none;
    margin: 0;
    z-index: 1;
  }
}
/* ===================== DESKTOP PEQUENO EM DIANTE ===================== */
@media (max-width: 1025px) {
  .side-bg {
    display: none;
  }
  #imagem1 {
    left: 45%;
  }
  #imagem2 {
    left: 35%;
  }
  #imagem3 {
    left: 25%;
  }
  #imagem4 {
    left: 15%;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1440px) {
}
